<%= form_with(url: login_path,scope: :session,local: true) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= submit_tag 'Login' %>
  <p>New user?<%=link_to 'Sign up now!', new_user_path %></p>
<% end %>