<h1>Create Event</h1>

<%= form_for(@event) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br>
  <%=f.label:date%>
  <%=f.date_field :date %>
  <br><br>
  <%= submit_tag "Create event" %>
<% end %>